{% extends "base.html" %}
{% block body %}
<div class="page-header">
  <h1>Statistics</h1>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">Total messages in database</div>
      <table class="table" id="msg_stat">
      </table>
    </div>
  </div>
</div>
{% endblock %}

{% block jscript %}
<script src="//cdnjs.cloudflare.com/ajax/libs/numeral.js/1.4.5/numeral.min.js"></script>
<script>
function updateStats() {
	$.getJSON( "stats/messages.json", function( data ) {
		clearElement("msg_stat");
		$.each( data, function( key, val ) {
			$("#msg_stat").append("<tr><td>"+key+"</td><td style='text-align: right;'>"+numeral(val).format('0,0')+"</td></tr>");
		});
	});
	setTimeout(updateStats, 5000);
};

function clearElement(elem_id) {
	var Node = document.getElementById(elem_id);
	while (Node.firstChild) {
		Node.removeChild(Node.firstChild);
	}
};

$(document).bind('ready', function () {
	updateStats();
});
</script>
{% endblock %}